# Python cache
__pycache__/
*.pyc

# Secrets
.env
.env.*

# Streamlit secrets/config
.streamlit/

# Virtual environments
.venv/
venv/
env/

# Temporary Excel files
~$*.xlsx

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
